@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Poppins:wght@400;600&family=Red+Hat+Display:wght@500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Open+Sans&family=Poppins:wght@400;600&family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --violet: hwb(257 29% 31%);
  --soft-magenta: hsl(300, 69%, 71%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--violet);
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(/images/bg-desktop.svg);
  background-repeat: no-repeat;
}

main {
  padding: 30px;
}

.logo {
  margin-left: 30px;
  margin-top: 20px;
}

.mockup {
  width: 100%;
}

.title {
  font-family: "Poppins", sans-serif;
}

.register_button {
  color: white;
  border: none;
  background-color: var(--soft-magenta);
  padding: 20px 50px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 35px;
}

.register_button:hover {
  background-color: white;
  color: rgb(97, 95, 95);
}

.mockup_description > * {
  margin-bottom: 30px;
}

.social {
  display: flex;
}

.social li {
  padding: 10px;
  list-style: none;
}

.social img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

/* Footer Section */

.attribution {
  font-size: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.attribution a {
  color: white;
}

footer {
  margin-top: auto;
}

/* Responsive Design */

@media (max-width: 375px) {
  body {
    background-image: url(/images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-position: contain;
  }

  main {
    padding: 35px;
  }

  .title {
    margin-bottom: 20px;
    font-size: 26px;
  }

  .mockup_description {
    text-align: center;
    margin-top: 40px;
  }

  .mockup_description p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 25px;
  }
}

@media (min-width: 1440px) {
  .container {
    display: grid;
    width: 90%;
    grid-template-columns: 50% 1fr;
  }

  .mockup_description {
    margin-top: 40px;
    margin-left: 50px;
  }

  .title {
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    font-weight: 600;
  }

  .mockup_description p {
    font-size: 24px;
  }

  .social_container {
    padding-right: 20px;
    display: flex;
    align-items: right;
    justify-content: right;
  }
}